<span style="color: #000;">
	<a data-audiocontainer="#audio-id-{{ audio.story_audio_id }}" style="text-decoration: none; cursor: pointer;">
		<i class="fa fa-volume-up fa-fw" style="color: #cf0000;"></i> Listen
	</a>
</span>
<div id="audio-id-{{ audio.story_audio_id }}" style="display: none;">
	<p class="text-center"><audio controls><source src="http://media.gossip247.com/story/{{ audio.story_id }}/audio/{{ audio.audio_name }}" type="audio/mpeg">Your browser does not support the audio element.</audio></p>
</div>