{{ set(this, 'title', 'Gossip 24/7 Admin Home') }}
<div class="row">
	<p style="font-size: 30px;" class="text-center"><strong>Pick from the bottons below or use the navigation on the left to get started.</strong></p>
	<!-- RSS Block -->
	<div class="col-lg-3">
        <div class="panel panel-info">
	      	<div class="panel-heading">
	        	<div class="row">
	            	<div class="col-xs-6">
	              	<i class="fa fa-rss fa-5x"></i>
	            	</div>
	            	<div id="feedback-title" class="col-xs-6 text-right">
	              	  	<p class="task-title">RSS Feeds</p>
	            	</div>
	        	</div>
	      	</div>
	      	<a href="/rss">
	        	<div class="panel-footer announcement-bottom">
	            	<div class="row">
		              	<div class="col-xs-6">
		               		Search Feeds
		              	</div>
		              	<div class="col-xs-6 text-right">
		                	<i class="fa fa-arrow-circle-right"></i>
		              	</div>
	            	</div>
	        	</div>
	      	</a>
	    </div>
	</div>
    <!-- End RSS Block -->
</div>