{{ set(this, 'title', 'Gossip 24/7 - Site Down') }}
<div class="news-paper">
	<div id="site-header" class="header">
		<div class="header-left">
			<a href="/">
				<h1><i>gossip</i>247.com</h1>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"><br /></div>
    <h3 id="site-down-header">We will be right back!</h3>
    <div class="clearfix"></div>
    <p class="site-down-text"><strong>The site is down for maintenance, please check back later.</strong></p>
    <div class="clearfix"></div>
	<div id="site-footer">
		<div class="copyright text-center">
			<p>Gossip 24/7 &copy; {{ currentYear }} All rights reserved</p>
		</div>
	</div>
</div>
