<span class="story-tag">
	<a data-featherlight="#video-id-{{ video.story_video_id }}">
		<i class="fa fa-video-camera fa-fw"></i> Watch
	</a>
</span>
<span class="hide">
	<div id="video-id-{{ video.story_video_id }}">{{ video.video_html|raw }}</div> 
</span>