<span class="story-tag">
	<a data-featherlight="#tag-id-{{ tag.story_tag_id }}">
		<i class="fa fa-info-circle fa-fw"></i> {{ tag.tag_name }}
	</a>
</span>
<span class="hide">
	<div id="tag-id-{{ tag.story_tag_id }}">{{ tag.description|raw }}</div>
</span>